:root {
  --primary: #b30000;
  --dark: #111;
  --gray: #777;
  --light: #f9f9f9;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--light);
  color: var(--dark);
  line-height: 1.6;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* HERO */
.hero {
  height: 80vh;
  background: url("../asset/Images/banner.jpg") center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.hero-content {
  position: relative;
  color: white;
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero-content h1 span {
  color: #ff4d4d;
}

.hero-content p {
  color: #ddd;
  margin-bottom: 25px;
}

/* BUTTON */
.hero-btn {
  margin-bottom: 20px;
}

.btn-primary {
  background: var(--primary);
  color: white;
  padding: 12px 22px;
  border-radius: 30px;
  text-decoration: none;
  margin-right: 10px;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #900000;
}

.btn-secondary {
  color: white;
  text-decoration: none;
}

/* LOGO */
.logo {
  width: 140px;
  margin-bottom: 20px;
}

/* SOCIAL */
.social-icons {
  margin-top: 15px;
}

.social-icons a {
  color: white;
  margin: 0 8px;
  font-size: 18px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: var(--primary);
  transform: translateY(-3px) scale(1.1);
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  background: white;
  padding: 15px 0;
  z-index: 999;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  position: relative;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: var(--primary);
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.navbar a:hover::after {
  width: 100%;
}

/* SECTION GENERAL */
section {
  margin-top: 80px;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
}

/* WHY */

.why {
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;
}
.why-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.why-card {
  background: white;
  padding: 30px 25px;
  border-radius: 14px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.why-card i {
  font-size: 24px;
  color: var(--primary);
  margin-bottom: 10px;
}

.why-card:hover {
  transform: translateY(-5px);
}

/* ABOUT */
.about-flex {
  display: flex;
  align-items: center;
  gap: 50px;
}

.about-flex div {
  max-width: 500px;
}

.about-flex p {
  margin: 15px 0 25px;
}

/* button */
.about .btn-primary {
 display: inline-block;
 margin-top: 10px;
}

.about img {
  width: 50%;
  border-radius: 12px;
}

/* SOLUTIONS */

.solutions{
  margin-top: 100px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card-solution {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  transition: 0.3s;
}

.card-solution:hover {
  background: var(--primary);
  color: white;
}

/* CARDS */
.cards {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.card img {
  width: 100%;
  transition: 0.5s;
}

/* OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: 0.4s;
}

.card:hover img {
  transform: scale(1.1);
}

.card:hover .overlay {
  opacity: 1;
}

/* TESTIMONIAL */
.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.testi {
  background: white;
  padding: 25px;
  border-radius: 12px;
  font-size: 14px;
}

/* FOOTER */
.footer {
  margin-top: 80px;
  background: #111;
  color: white;
  padding: 40px 20px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.footer h4 {
  margin-bottom: 10px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .why-grid,
  .grid-4,
  .cards,
  .testimonial-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-flex {
    flex-direction: column;
  }

  .about img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .why-grid,
  .grid-4,
  .cards,
  .testimonial-grid {
    grid-template-columns: 1fr;
  }

  .hero {
    height: 60vh;
  }

  .hero-content h1 {
    font-size: 32px;
  }
}
